<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:8080/submitMessage" method="POST" target="_blank">
        <input type="text" name="companyName" placeholder="companyName" /><br>
        <input type="text" name="personalName" placeholder="personalName" /><br>
        <input type="text" name="mobile" placeholder="mobile" /><br>
        <input type="text" name="email" placeholder="email" /><br>
        <textarea name="content" placeholder="content" ></textarea><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>